COMPOSE_BAKE=true

TENSHI_PASSWORD='tenshi'
TENSHI_VNC_PASSWORD='xxx'

BROWSERLESS_HOST_IP='xxx.xxx.xxx.xx'
BROWSERLESS_TOKEN='xxx'
REMOTE_DEBUG_URL='http://localhost:6082'
FASTAPI_BASE_URL='http://localhost:6081'
DOCKER=false
DEBUG=false
